/*

!obsidian/"Custom Dictionary.txt"
!obsidian/"Shared Dictionary"
!obsidian/Dictionaries/
!ags/
!astal/
!autostart/
!btop/
!cava/
!dconf/
!discordo/
!dolphinrc
!dunst/
!fastfetch/
!fish/
!GIMP/
!godot/
!gtk*/
!hypr/
!iamb/
!ibus/
!jerry/
!JetBrains/
!jrnl/
!kdeconnect/
!kitty/
!kritadisplayrc
!kritarc
!lobster/
!mako/
!mimeapps.list
!mpv/
!nvim/
!obsidian/obsidian.json
!obsidian/Preferences
!pavucontrol.ini
!qt*/
!qutebrowser/
!rofi/
!StardewValley/
!starship.toml
!swappy/
!swww/
!Syncplay/
!syncplay.ini
!systemd/
!TagStudio/
!Thunar/
!user-dirs.dirs
!user-dirs.locale
!vesktop/settings/
!vesktop/settings.ini
!vesktop/themes/
!wofi/
!xdg-desktop-portal/
