/*

!obsidian/"Custom Dictionary.txt"
!obsidian/"Shared Dictionary"
!obsidian/Dictionaries/
!ags/
!autostart/
!btop/
!cava/
!dconf/
!dunst/
!fastfetch/
!godot/
!gtk*/
!hypr/
!iamb/
!ibus/
!jerry/
!JetBrains/
!kitty/
!kritadisplayrc/
!kritarc/
!lobster/
!mako/
!mimeapps.list
!mpv/
!nvim/
!pavucontrol.ini
!rofi/
!StardewValley/
!starship.toml
!swappy/
!swww/
!Syncplay/
!syncplay.ini
!systemd/
!Thunar/
!vesktop/settings/
!vesktop/settings.ini
!vesktop/themes/
!mako
